<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Handlebars.Net" version="1.9.5" targetFramework="net48" />
  <package id="JsonSubTypes" version="1.5.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="2.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Quartz.Extensions.DependencyInjection" version="3.13.0" targetFramework="net48" />
  <package id="Quartz.Extensions.Hosting" version="3.13.0" targetFramework="net48" />
  <package id="Quartz.Plugins.RecentHistory" version="1.0.3" targetFramework="net48" />
  <package id="Quartz.Serialization.SystemTextJson" version="3.13.0" targetFramework="net48" />
  <package id="Quartzmin" version="1.0.3" targetFramework="net48" />
  <package id="Quartzmin.SelfHost" version="1.0.3" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="Quartz" version="3.13.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.0-preview.6.24327.7" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>